<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Your Basket is too big {{ length }} it needs to be 10 or less.</h3>
    {%if basket%}
        <ul>
            {%for position in basket%}
                <li>{{position}} , к-сть: {{basket[position]}}</li>
            {%endfor%}
        </ul>
        <a href="/delete_basket"><button>Delete all</button></a>
    {%else%}
        <h1>Ваш список замовлень пустий</h1>
    {%endif%}
</body>
</html>